body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:43px;
  width:1110px;
  height:1177px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:1177px;
}
#u1 {
  position:absolute;
  left:2px;
  top:580px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:43px;
  width:870px;
  height:1177px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
  text-align:right;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:1177px;
}
#u3 {
  position:absolute;
  left:2px;
  top:580px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:1185px;
  width:1110px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:1106px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:213px;
  top:105px;
  width:6px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:541px;
  top:146px;
  width:35px;
  height:35px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:548px;
  top:154px;
  width:22px;
  height:22px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:530px;
  top:188px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:726px;
  top:146px;
  width:35px;
  height:35px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:715px;
  top:190px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:733px;
  top:151px;
  width:24px;
  height:24px;
  opacity:0.4;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:386px;
  top:240px;
  width:494px;
  height:288px;
  overflow:hidden;
  visibility:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:288px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:3px;
  top:0px;
  width:483px;
  height:276px;
}
#u21_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:503px;
  height:296px;
}
#u22 {
  position:absolute;
  left:2px;
  top:130px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:48px;
  top:24px;
  width:150px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:440px;
  top:24px;
  width:20px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:3px;
  top:60px;
  width:481px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:464px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:481px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:186px;
  width:486px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:469px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:486px;
  height:1px;
}
#u29 {
  position:absolute;
  left:202px;
  top:217px;
  width:85px;
  height:30px;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:48px;
  top:89px;
  width:393px;
  height:16px;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:126px;
  top:132px;
  width:222px;
  height:25px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:48px;
  top:137px;
  width:56px;
  height:15px;
  font-size:12px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:264px;
  top:132px;
  width:84px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:137px;
  top:138px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:348px;
  top:137px;
  width:93px;
  height:15px;
  font-size:12px;
  color:#3399FF;
  text-align:right;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:213px;
  top:129px;
  width:50px;
  height:4px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:4px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:23px;
  top:66px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1px;
  top:104px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:142px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:180px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:218px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:256px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:97px;
  top:116px;
  width:143px;
  height:74px;
  color:#6699FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:74px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:47px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:47px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:257px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:358px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:545px;
  top:14px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:450px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:663px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:17px;
  top:7px;
  width:34px;
  height:34px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u72 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:59px;
  top:14px;
  width:94px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1065px;
  top:8px;
  width:29px;
  height:29px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1070px;
  top:14px;
  width:20px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1047px;
  top:8px;
  width:10px;
  height:27px;
}
#u79_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u79_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u79_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u80 {
  position:absolute;
  left:1009px;
  top:6px;
  width:40px;
  height:34px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u81 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:696px;
  top:13px;
  width:24px;
  height:24px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:290px;
  top:13px;
  width:24px;
  height:24px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:625px;
  top:46px;
  visibility:hidden;
}
#u86_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u86_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:33px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:213px;
  top:46px;
  visibility:hidden;
}
#u91_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u91_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u93 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:169px;
  width:132px;
  height:33px;
  color:#C9C9C9;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u95 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:12px;
  top:9px;
  width:14px;
  height:14px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:30px;
  top:9px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:11px;
  top:33px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:0px;
  top:56px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u103 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:33px;
  top:65px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:11px;
  top:89px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:11px;
  top:65px;
  width:20px;
  height:20px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:112px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u111 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:33px;
  top:121px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:11px;
  top:145px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:11px;
  top:121px;
  width:20px;
  height:20px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:1px;
  top:0px;
  width:189px;
  height:47px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:47px;
}
#u119 {
  position:absolute;
  left:2px;
  top:16px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:1003px;
  top:46px;
  visibility:hidden;
}
#u120_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u120_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:109px;
  color:#999999;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:109px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:18px;
  top:8px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:18px;
  top:45px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:0px;
  top:30px;
  width:107px;
  height:10px;
}
#u127_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  height:1px;
}
#u128 {
  position:absolute;
  left:19px;
  top:81px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:0px;
  top:67px;
  width:107px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  height:1px;
}
#u131 {
  position:absolute;
  left:922px;
  top:12px;
  width:76px;
  height:22px;
  color:#FFFFFF;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u132 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:900px;
  top:10px;
  width:10px;
  height:27px;
}
#u133_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u133_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u133_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
