.exchange-page {
  @include background-image("/images/mobile/campaign_bg.png");
  background-size: 22rem;
  background-position: center 1rem;
  height: auto;
  min-height: 100%;

  .promotion-code {
    border-radius: 0.2rem;
    border: 1px solid #feff0a;
    margin-top: 20rem;
    width: 17rem;
    padding: 1rem 0;
    font-size: 1.6rem;
    text-align: center;
  }

  .form-tip {
    color: #fefedf;
    display: block;
    font-size: 1.1rem;
    width: 17rem;
    text-align: left;
    margin: 0.5rem auto 1.8rem;
  }

  .error-tip {
    font-weight: bold;
  }

  .history-btn {
    @include background-image("/images/mobile/campaign_link.png");
    background-size: 24rem 4rem;
    color: #fa3d38;
    font-size: 1.4rem;
    padding: 1rem 0;
    width: 24rem;
    margin-top: 5.7rem;
  }
}

.m-loading {
  display: inline-block;
  margin: .5rem auto;
  width: 3px; height:3px;
  border-radius: 100%;                      /* 圆角 */
  box-shadow: 0 -10px 0 1px $loading-color,           /* 上, 1px 扩展 */
              10px 0px #333,                /* 右 */
              0 10px #333,                  /* 下 */
              -10px 0 #333,                 /* 左 */

              -7px -7px 0 .5px $loading-color,        /* 左上, 0.5px扩展 */
              7px -7px 0 1.5px $loading-color,        /* 右上, 1.5px扩展 */
              7px 7px #333,                 /* 右下 */
              -7px 7px #333;                /* 左下 */
}
.m-spin {
  -webkit-transform: rotate(360deg);
  -webkit-animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
.m-spin {
  transform: rotate(360deg);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
