$yellow-bg-color: #ac9456;
$white: #fff;
$tab-color: #6c6c6c;
$list-bg-color: #efefef;
$item-name-color: #1e1e1e;
$item-border-color: #eee;
$item-status-color: #a1a1a1;
$item-shadow-color: #bcbcbc;
$item-shadow-bg: #1c1c1c;
$loading-color: #333;
$dot-bg-color: #3e3e3e;
$btn-shadow-color: #505050;
$exchange-shadow-bg-color: #151515;
$gray-tip: #bebebe;
$gray-text-color: #787878;
$address-border-color: #d8d8d8;
$error-text-color: #ff0a0a;
$pickup-address-color: #747474;
