html {
  font-size: 16px;
  height: 100%;
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}
