body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:794px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:794px;
}
#u2 {
  position:absolute;
  left:2px;
  top:389px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:240px;
  top:44px;
  width:780px;
  height:736px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:736px;
}
#u5 {
  position:absolute;
  left:2px;
  top:360px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:278px;
  top:124px;
  width:130px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:278px;
  top:292px;
  width:79px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:278px;
  top:214px;
  width:161px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:278px;
  top:163px;
  width:86px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13 {
  position:absolute;
  left:374px;
  top:163px;
  width:365px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:278px;
  top:246px;
  width:86px;
  height:22px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16 {
  position:absolute;
  left:374px;
  top:248px;
  width:32px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:349px;
  top:322px;
  width:14px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:441px;
  top:322px;
  width:14px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:527px;
  top:322px;
  width:14px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:278px;
  top:318px;
  width:67px;
  height:24px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25 {
  position:absolute;
  left:364px;
  top:318px;
  width:67px;
  height:24px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26 {
  position:absolute;
  left:455px;
  top:318px;
  width:67px;
  height:24px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27 {
  position:absolute;
  left:541px;
  top:318px;
  width:67px;
  height:24px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28 {
  position:absolute;
  left:278px;
  top:350px;
  width:271px;
  height:20px;
  color:#A1A1A1;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:278px;
  top:425px;
  width:71px;
  height:30px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:451px;
  top:412px;
  width:188px;
  height:48px;
  color:#00CCFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:48px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:354px;
  top:435px;
  width:94px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:94px;
  height:1px;
}
#u36 {
  position:absolute;
  left:23px;
  top:66px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1px;
  top:104px;
  width:239px;
  height:40px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:143px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:182px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:296px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1px;
  top:221px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1px;
  top:258px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:30px;
  top:346px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:5px;
  width:146px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:278px;
  top:90px;
  width:719px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:702px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:4px;
  width:719px;
  height:2px;
}
#u53 {
  position:absolute;
  left:278px;
  top:66px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:389px;
  top:66px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:389px;
  top:90px;
  width:113px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:96px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:4px;
  width:113px;
  height:2px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:47px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:47px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:257px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:358px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:545px;
  top:14px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:450px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:663px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:17px;
  top:7px;
  width:34px;
  height:34px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u72 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:59px;
  top:14px;
  width:94px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1065px;
  top:8px;
  width:29px;
  height:29px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1070px;
  top:14px;
  width:20px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1047px;
  top:8px;
  width:10px;
  height:27px;
}
#u79_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u79_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u79_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u80 {
  position:absolute;
  left:1009px;
  top:6px;
  width:40px;
  height:34px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u81 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:696px;
  top:13px;
  width:24px;
  height:24px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:290px;
  top:13px;
  width:24px;
  height:24px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:625px;
  top:46px;
  visibility:hidden;
}
#u86_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u86_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:33px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:213px;
  top:46px;
  visibility:hidden;
}
#u91_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u91_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u93 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:169px;
  width:132px;
  height:33px;
  color:#C9C9C9;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u95 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:12px;
  top:9px;
  width:14px;
  height:14px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:30px;
  top:9px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:11px;
  top:33px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:0px;
  top:56px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u103 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:33px;
  top:65px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:11px;
  top:89px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:11px;
  top:65px;
  width:20px;
  height:20px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:112px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u111 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:33px;
  top:121px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:11px;
  top:145px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:11px;
  top:121px;
  width:20px;
  height:20px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:1px;
  top:0px;
  width:189px;
  height:47px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:47px;
}
#u119 {
  position:absolute;
  left:2px;
  top:16px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:1003px;
  top:46px;
  visibility:hidden;
}
#u120_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u120_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:109px;
  color:#999999;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:109px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:18px;
  top:8px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:18px;
  top:45px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:0px;
  top:30px;
  width:107px;
  height:10px;
}
#u127_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  height:1px;
}
#u128 {
  position:absolute;
  left:19px;
  top:81px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:0px;
  top:67px;
  width:107px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  height:1px;
}
#u131 {
  position:absolute;
  left:922px;
  top:12px;
  width:76px;
  height:22px;
  color:#FFFFFF;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u132 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:900px;
  top:10px;
  width:10px;
  height:27px;
}
#u133_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u133_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u133_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
