$wm-mobile-default-color:                         #171717;
$wm-mobile-default-border-color:                  #d8d8d8;
$wm-mobile-btn-text-color:                        #fff;
$wm-mobile-btn-bg-color:                          #f9910a;
$wm-mobile-btn-shadox-color:                      #97591d;
$wm-block-color:                                  #dadada;
$wm-block-tip-color:                              #787878;
$wm-validate-btn-backgrount:                      #6d6d6d;
$wm-form-tip-font-color:                          #ff0a0a;
$wm-remark-font-color:                            #5883b2;
$wm-triangle-bgcolor:                             #c17717;
$wm-line-background-color:                        #c3c3c3;
$wm-title-font-color:                             #5d5d5d;
$wm-content-font-color:                           #747474;
$wm-mobile-background-color:                      #f0f0f0;
$wm-white-background-color:                       #fff;
$wm-modal-dialog-background-color:                #211b1a;
$wm-modal-dialog-text-color:                      #787878;
$wm-calendar-active-text-color:                   #333;
$wm-mobile-expired-btn-color:                     #bdbdbd;
$wm-triangle-expired-bgcolor:                     #979797;
$wm-mobile-default-border-color:                  #d8d8d8;
$wm-qrcode-text-color:                            #c5c5c5;
$wm-buttom-bg-color:                              #a8a8a8;
$wm-score-calendar-font-size:                         1.4em;
$wm-input-componet-tip-size:                         1.6em;
$wm-card-name-font-size:                                1.7em;
$wm-input-componet-font-size:                       1.8em;
$wm-score-detail-unit-font-size:                       2em;
$wm-buttom-componet-font-size:                    2.1em;
$wm-score-number-font-size:                          2.2em;
$wm-calendar-componet-font-size:                 2.8em;
$wm-calendar-item-height:                         36px;
$wm-input-componet-height:                        52px;
$wm-bottom-componet-height:                       40px;
$yellow-bg-color: #ac9456;
$white: #fff;
$tab-color: #6c6c6c;
$list-bg-color: #efefef;
$item-name-color: #1e1e1e;
$item-border-color: #eee;
$item-status-color: #a1a1a1;
$item-shadow-color: #bcbcbc;
$item-shadow-bg: #1c1c1c;
$loading-color: #333;


$member-icon: (privilege: memberprivilege, scorerule: memberpoints, usageguide: personalinformation);
