.channelpayment {
  padding: 0 10px;

  .panel-center-content {
    margin-top: 10px;
  }

  .data-picker {
    margin-bottom: 20px;
  }

  .span-center {
    line-height: 30px;
    vertical-align: top;
  }
}
