.config-wrap {
  .content-component-config-pic-label {
    font-size: 16px;
  }
  .content-component-config-pic-input {
    background-color: #fff;
  }
  .content-component-config-pic-div {
    right: 6px;
  }
}