.c-icon-span {
  background-size: .4rem;
  background-position: 0 top;
  background-repeat: no-repeat;

  color: $theme-default-color;
  display: inline-block;
  padding-left: .77rem;
  min-height: .45rem;
  font-size: .38rem;
}
