<div ng-controller="wm.ctrl.analytic.weibo.contentSpread as contentSpread">

  <table class="content-weibo-wrap content-weibo-table">
    <tbody>
      <tr>
        <td class="col-md-3 content-weibo-title-block top-cell">
          <div class="content-weibo-title-text">{{'analytic_avg_statuses'|translate}}</div>
        </td>
        <td class="col-md-3 content-weibo-title-block top-cell">
          <div class="content-weibo-title-text">{{'analytic_original_percentage'|translate}}</div>
        </td>
        <td class="col-md-3 content-weibo-title-block top-cell">
          <div class="content-weibo-title-text">{{'analytic_avg_reposts'|translate}}</div>
        </td>
        <td class="col-md-3 content-weibo-title-block top-cell">
          <div class="content-weibo-title-text">{{'analytic_avg_comments'|translate}}</div>
        </td>
      </tr>
      <tr>
        <td class="col-md-3 content-weibo-title-block bottom-cell">
          <div class="content-weibo-title-number text-el">{{contentSpread.status.avgStatuses | number:0}}</div>
        </td>
        <td class="col-md-3 content-weibo-title-block bottom-cell">
          <div class="content-weibo-title-number text-el">{{contentSpread.status.originalPercentage | number:0}}%</div>
        </td>
        <td class="col-md-3 content-weibo-title-block bottom-cell">
          <div class="content-weibo-title-number text-el">{{contentSpread.status.avgReposts | number:0}}</div>
        </td>
        <td class="col-md-3 content-weibo-title-block bottom-cell">
          <div class="content-weibo-title-number text-el">{{contentSpread.status.avgComments | number:0}}</div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="content-weibo-date clearfix row mlr0">
    <div class="col-md-offset-6 col-md-3 col-sm-6 col-xs-12">
      <div class="row">
        <span class="content-weibo-text plr0 text-center col-md-2 col-sm-1 col-xs-1"></span>
        <div class="col-md-10 col-sm-11 col-xs-11 plr0">
          <div wm-datetime-picker format-type="YYYY-MM-DD" picker-id="startPicker" pick-date="true" pick-time="false" less-than-yesterday="true" ng-model="contentSpread.startDate" time-handler="contentSpread.selectDate()" min-date-picker-id="endPicker" first-unbind-handler="true"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="row">
        <span class="content-weibo-text plr0 text-center col-md-2 col-sm-1 col-xs-1">{{'dashboard_to'|translate}}</span>
        <div class="col-md-10 col-sm-11 col-xs-11 plr0">
          <div wm-datetime-picker format-type="YYYY-MM-DD" picker-id="endPicker" pick-date="true" pick-time="false" less-than-yesterday="true" ng-model="contentSpread.endDate" time-handler="contentSpread.selectDate()" max-date-picker-id="startPicker" first-unbind-handler="true"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-weibo-wrap mb30">
    <div class="content-weibo-body-title content-weibo-text">{{'analytic_daily_statuses'|translate}}</div>
    <div class="content-weibo-body-content">
      <div wm-line-chart options="contentSpread.statusOptions" width="100%" height="270px"></div>
    </div>
  </div>

  <div class="content-weibo-wrap mb30">
    <div class="content-weibo-body-title content-weibo-text">{{'analytic_reposts'|translate}}</div>
    <div class="content-weibo-body-content">
      <div wm-line-chart options="contentSpread.repostOptions" width="100%" height="270px"></div>
    </div>
  </div>

  <div class="content-weibo-wrap">
    <div class="content-weibo-body-title content-weibo-text">{{'analytic_comments'|translate}}</div>
    <div class="content-weibo-body-content">
      <div wm-line-chart options="contentSpread.commentOptions" width="100%" height="270px"></div>
    </div>
  </div>

</div>
