.ulkklp-edit-recipe #registrationForm .ng-invalid {
  color:#b42d14;
  font-size: 12px;
}

.ulkklp-edit-recipe #activityForm .ng-invalid {
  color:#b42d14;
  font-size: 12px;
}

.ulkklp-edit-recipe #orderForm .ng-invalid {
  color:#b42d14;
  font-size: 12px;
}

.ulkklp-edit-recipe #registrationForm select {
  width:40%;
}

.ulkklp-edit-recipe #orderForm select {
  width:40%;
}
