.preview-attachment {
  .preview-wrapper {
    width: 75%;
    position: fixed;
    left: 13%;
    top: 19%;
    bottom: 20%;
    z-index: 1050;
    text-align: center;

    .preview-img-module {
      @include width-height(100%, 100%);
      position: relative;
      text-align: center;
      background: rgba(16, 16, 16, .8);

      .preview-img {
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
      }
    }
  }

  .attachment-download-icon {
    position: fixed;
    z-index: 1050;
    background-color: $white-color;
    border-radius: 16px;
    width: 30px;
    height: 30px;
    bottom: 14%;
    left: 49%;
    background-image: url('/images/core/icon_download_default.png');
    background-repeat: no-repeat;
  }

  .attachment-download-icon:hover {
    background-image: url('/images/core/icon_download_click.png');
    cursor: pointer;
  }
}
