$gray-text-color: #a5a5a5;
$red-text-color: #f37b73;
$navbar-text-color: #6f6f6f;
$detail-page-gray-text-color: #1c1c1c;
$right-slide-backgroud-color: #f7f7f7;
$right-slide-title-color: #19be9b;
$a-hover-color: #37c3aa;
$issue-open-status-color: #f0ad4e;
$issue-assigned-status-color: #5bc0de;
$issue-resolved-status-color: #5cb85c;
$issue-closed-status-color: #337ab7;
$border-color: #ddd;
$description-border-left-color: #e4e4e4;
$black-color: #000;
$white-color: #fff;
$comment-text-color: #aaa;
$white-background-text-color: #37c3aa;
$issue-operation-border-color: #d4d4d4;
$navbar-background-color: #fff;
$a-color: #cdcdcd;
$a-green-color: #46d7be;
$footer-backgroud-color: #e3e8ee;
$dropdown-menu-border-color: #e6e6e6;
$issue-header-color: #354052;
$issue-list-color: #8d9cae;
$liner-color: #e4e5ea;
$closed-issue-list-color: #e9edf3;
$closed-issue-list-text-color: #adadad;
$issue-footer-background-color: #d4d8de;
$add-issue-a-color: #38c4a9;
$attachment-list-border-color: #43c7b0;
$background-rar-color: #00bcd5;
$background-doc-color: #426ce6;
$background-psd-color: #291377;
$background-tr-color: #52a72b;
$issue-detail-icons: (description, add, claim, status);
$issue-gray-black: #787878;
$issue-badge-helpdesk-color: #559df6;
$issue-badge-user-color: #e5d441;
$issue-support-ticket-a-color: #999;
$issue-support-ticket-a-hover-color: #2daf96;
$disabled-button-background-color: #d3d3d3;
$conversation-actived-color: #38c4a9;
$conversation-text-color: #c9c9c9;
$conversation-title-color: #171d26;
$transfer-modal-box-line-color: #d9e0ea;
$transfer-table-title-color: #6e7d91;
