<div ng-if="loading" class="modal-backdrop fade in" style="z-index: 1040;"></div>
<div ng-if="loading" class="mask-loading" style="display: inline-block;">
  <div class="loading-icon"></div>
</div>
<div class="ulkklp-recipe">
  <div wm-breadcrumb="recipe.breadcrumb"></div>
  <div wm-tabs="recipe.changeTab()" tabs="recipe.tabs" ng-model="recipe.curTab"></div>

  <div class="tab-view-wrap" ng-show="showFirstTab">
    <div class="uhkklp-search-wrap clearfix search-div">
      <wm-search ng-model="recipe.keyword" click-func="recipe.searchKey()" placeholder="{{'recipe_search_placeholder' | translate}}"></wm-search>
      <button class="navbar-toggle form-control padding-form-style select-form-style show-conditions-button" type="button" ng-click="recipe.showConditions()">{{'screening_conditions' | translate}}
        <div ng-class="{isshow:recipe.isShow, ishide:!recipe.isShow}"></div>
      </button>
      <div class="add-button">
        <a class="btn btn-success user-btn pull-right" href="/uhkklp/edit/recipe?id&active={{recipe.curTab.value}}">{{'recipe_add' | translate}}</a>
        <span class="btn-import member-button-import import-btn" ng-click="import()" translate="customer_follower_import"></span>
      </div>
    </div>

    <div  ng-show="!recipe.isShow && recipe.conditions.length > 0">
    <div class="management-fans-item-all mt-10">
        <div class="dark-gray row">
          <label class="management-fans-tag follower-selected-conditions"translate="customer_follower_selected_condition"></label>
          <div class="management-shrink-condition" ng-repeat="condition in recipe.conditions track by $index">
            <div class="panel panel-tags-default ng-scope condition-category-style">
              <div class="tags-style">
                <ul class="condition-style">
                  <li class="condition-style">{{condition.name}}:&nbsp;</li>
                  <li class="condition-style" ng-repeat="item in condition.items">{{item}}</li>
                </ul>
                <label class="close-btn" ng-click="recipe.deleteCategory($index, condition.id)"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix" ng-show="recipe.isShow">
      <!-- Select condition -->
      <div class="management-fans-tag dark-gray row product-goods-style">
        <div class="col-md-10 row clear-container-padding clear-container-margin">
          <div ng-repeat="category in recipe.categories" class="recipe-categorie">
            <label class="col-md-2 goods-condition-title">{{category.name}}</label>
            <div class="operate-tags-items col-md-1 clear-container-padding">
              <label class="check-all-items">
                <wm-checkbox ng-model="category.check" ng-click="recipe.selectAllCatogories(category.id)" class="follower-checkbox-style"></wm-checkbox>{{'recipe_list_categories_select_all' | translate}}
              </label>
            </div>
            <div class="follower-tags-items col-md-9 clear-container-padding">
              <ul class="member-card-items category-position clearfix">
                <li class="member-card-item pull-left" ng-repeat="item in category.items">
                  <wm-checkbox ng-model="item.check" ng-click="recipe.selectCategory(category.id)" class="follower-checkbox-style"></wm-checkbox>{{item.name}}
                </li>
              </ul>
            </div>
            <br/>
          </div>
          <br/>
        </div>
      </div>
      <!-- The buttom of submit and clear -->
      <div class="management-fans-btn-group">
        <span class="btn btn-success" ng-click="recipe.searchByCatogories()" translate="recipe_list_screening_conditions_sure"></span>
        <span type="submit" class="btn btn-default clear-btn-style" ng-click="recipe.clear()" translate="recipe_list_screening_conditions_clear"></span>
      </div>
    </div>

    <div class="count-tip">
      <img class="img"/>
      <span>{{'recipe_list_count_start' | translate}}</span>
      <span>{{recipe.totalCount}}</span>
      <span>{{'recipe_list_count_end' | translate}}</span>
    </div>

    <div class="operations-wrapper" ng-show="recipe.cacheCheckRows.length > 0">

      <span class="operation-box" ng-class="{'operation-enable': recipe.cacheCheckRows.length > 0 && !recipe.activeList, 'operation-disable': recipe.cacheCheckRows.length == 0 || recipe.activeList}" ng-click="recipe.showShelveModal()" translate="product_onshelves"></span>

      <span class="operation-box" ng-class="{'operation-enable': recipe.cacheCheckRows.length > 0 && recipe.activeList, 'operation-disable': recipe.cacheCheckRows.length == 0 || !recipe.activeList}" translate="product_offshelves" ng-click="recipe.offShelves($event)"></span>

      <span class="operation-box" ng-class="{'operation-enable': recipe.cacheCheckRows.length > 0, 'operation-disable': recipe.cacheCheckRows.length == 0}" translate="recipe_list_delete" ng-click="recipe.deleteGoods($event)"></span>

      <div class="tag-dropdown-wrap tag-manage">
        <div class="tag-dropdown mr5" ng-click="recipe.showBatchBindTag()">{{'recipe_list_tag'|translate}}<b class="caret"></b></div>
        <div class="tag-dropdown-wrap" ng-show="recipe.cacheCheckRows.length > 0">
          <div class="tag-modal tags-select" ng-show="recipe.isShowBatchBindTagDropdown">
            <h3 class="tag-title" translate="recipe_list_select_tags"></h3>
            <span class="core-label-icon" ng-click="recipe.setModel()"></span>
            <div class="tag-content">
              <div class="label-form-wrapper">
                <form name="addTagForm">
                  <div class="form-group clearfix">
                    <div class="label-form">
                      <div class="col-md-10 clearfix">
                        <input type="text" class="form-control label-name-text tag-name-text" placeholder="{{'recipe_list_core_add_label_input' | translate}}"
                          maxlength="20" ng-model="recipe.newTag" required without-star below-msg wm-validate="recipe.checkExistTag"/>
                        <span class="form-tip normal"></span>
                      </div>
                      <div type="button" class="label-add" ng-click="recipe.createTag()" translate="recipe_list_core_add_label_input"></div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="label-line"></div>
              <ul class="row label-name-pannel tags-wrapper" ng-show="recipe.tags.length > 0">
                <li class="col-md-4 tag-name-wrapper text-el tags-item" ng-repeat="tag in recipe.tags">
                  <wm-checkbox ng-model="tag.check"></wm-checkbox>
                  <span class="tag-name" wm-tooltip="{{tag.name}}">{{tag.name}}</span>
                </li>
              </ul>

              <ul class="row label-name-pannel tags-wrapper" ng-show="recipe.tags.length == 0">
                <li class="col-md-12 tag-name-wrapper core-no-label">
                  <span class="tag-name" translate="recipe_list_core_no_label"></span>
                </li>
              </ul>

              <div class="confirm-select">
                <span class="btn btn-success btn-operate-tag btn-tag-ok" translate="recipe_list_ok" ng-click="recipe.saveTag()"></span>
                <span class="btn btn-operate-tag btn-default" translate="recipe_list_cancel" ng-click="recipe.isShowBatchBindTagDropdown = false"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tag-modal" ng-show="recipe.showOnShelvesModal">
        <h3 class="tag-title">{{"recipe_list_onshelves_title" | translate}}</h3>
        <div class="tag-content store-channel-content recipe">
          <div>
            <div class="mb10"><div wm-radio ng-model="recipe.shelveType" value="now" ng-click="recipe.changeShelveType()"></div>{{'recipe_list_shelves_now' | translate}}</div>
            <div class="mb10"><div wm-radio ng-model="recipe.shelveType" value="schedule" ng-click="recipe.changeShelveType()"></div>{{'recipe_list_shelves_schedule' | translate}}</div>
            <div wm-datetime-picker id="schedulePicker" format-type="YYYY-MM-DD HH:mm" pick-date="true" pick-time="true" ng-model="recipe.onSaleTime" more-than-today="true"></div>
          </div>
          <div class="confirm-select mt30">
            <span class="btn btn-success btn-operate-tag btn-tag-ok" translate="recipe_list_ok" ng-click="recipe.onShelves()"></span>
            <span class="btn btn-operate-tag btn-default" translate="recipe_list_cancel" ng-click="recipe.showOnShelvesModal = false"></span>
          </div>
        </div>
      </div>
    </div>

    <div wm-table ng-model="recipe.list" is-select-all="true" class="recipe-list-table"></div>

    <div class="clearfix" ng-show="recipe.showPagination">
      <div class="broadcast-pagination">
        <div wm-pagination current-page="recipe.page" page-size="recipe.pageSize" total-items="recipe.totalCount" on-change-size="recipe.changeSize" on-change-page="recipe.changePage"></div>
      </div>
    </div>
  </div>

  <div class="tab-view-wrap" ng-show="showSecondTab">
    <input id="chooseImages" style="display: none;" type="file" ng-file-select="onImagesSelect(images)" multiple="true" accept="image/jpg" ng-model="images">
    <div class="uhkklp-search-wrap clearfix search-div">
      <wm-search ng-model="mtSearchKey" click-func="mtSearch()" placeholder="{{'recipe_search_recipe_placeholder' | translate}}"></wm-search>
    </div>

    <div class="count-tip">
      <img class="img"/>
      <span>{{'mt_push_count' | translate : '{count: mtTotalCount}'}}</span>
    </div>

    <div wm-table class="mt-recipe-batch" ng-model="mtList"></div>

    <div class="clearfix" ng-show="mtShowPagination">
      <div class="broadcast-pagination">
        <div wm-pagination current-page="mtPage" page-size="mtPageSize" total-items="mtTotalCount" on-change-size="mtChangePageSize" on-change-page="mtChangePage"></div>
      </div>
    </div>
  </div>

  <div class="ulkklpSample" ng-show="showThirdTab">
    <div class="tab-view-wrap">
      <div class="uhkklp-search-wrap clearfix search-div">
        <wm-search ng-model="recipe.sampleKeyword" click-func="recipe.searchSampleKey()" placeholder="{{'recipe_list_sample_name' | translate}}"></wm-search>
        <div class="add-button">
          <a class="btn btn-success user-btn pull-right" href="/uhkklp/edit/sample/recipe?id">{{'recipe_list_sample_add' | translate}}</a>
          <a class="btn btn-success user-btn pull-right" ng-click="recipe.downloadSampleRecord()" style="margin-right: 20px;">{{'recipe_list_download_sample_record' | translate}}</a>
        </div>
      </div>

      <div class="count-tip">
        <img class="img"/>
        <span>{{'recipe_list_sample_count_front_tip' | translate}}</span>
        <span>{{recipe.sampleTotalCount}}</span>
        <span>{{'recipe_list_sample_count_end_tip' | translate}}</span>
      </div>

      <div wm-table class="list-table" ng-model="recipe.sampleList"></div>

      <div class="clearfix" ng-show="recipe.showSamplePagination">
        <div class="broadcast-pagination">
          <div wm-pagination current-page="recipe.samplePage" page-size="recipe.samplePageSize" total-items="recipe.sampleTotalCount" on-change-size="recipe.changeSampleSize" on-change-page="recipe.changeSamplePage"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="ulkklpSample" ng-show="showForthTab" style="margin-bottom: 250px;">
    <div class="tab-view-wrap">
      <div class="uhkklp-search-wrap clearfix search-div">
        <wm-search ng-model="recipe.cookingtypeKeyword" click-func="recipe.searchCookingtypeKey()" placeholder="{{'recipe_list_cookingtype_name' | translate}}"></wm-search>
        <div class="add-button">
          <a class="btn btn-success user-btn pull-right" ng-click="recipe.addCookingtype()">{{'recipe_list_cookingtype_add' | translate}}</a>
        </div>
      </div>

      <div class="count-tip">
        <img class="img"/>
        <span>{{'recipe_list_cookingtype_count_front_tip' | translate}}</span>
        <span>{{recipe.cookingtypeTotalCount}}</span>
        <span>{{'recipe_list_cookingtype_count_end_tip' | translate}}</span>
      </div>

      <div wm-table class="list-table" ng-model="recipe.cookingtypeList"></div>

      <div class="tag-modal tag-choose" ng-show="recipe.isUpdateTags" ng-style="recipe.tagStyle">
        <h3 class="tag-title" translate="recipe_list_select_tags"></h3>
        <div class="tag-content">
          <div class="label-line"></div>
          <ul class="row label-name-pannel tags-wrapper" ng-show="tags.length > 0">
            <li class="col-md-4 tag-name-wrapper text-el tags-item" ng-repeat="tag in tags">
              <wm-checkbox ng-model="tag.check"></wm-checkbox>
              <span class="tag-name" wm-tooltip="{{tag.name}}">{{tag.name}}</span>
            </li>
          </ul>

          <ul class="row label-name-pannel tags-wrapper" ng-show="tags.length == 0 && loadingTag">
            <li class="col-md-12 tag-name-wrapper core-no-label">
              <span class="tag-name" translate="recipe_list_core_no_label"></span>
            </li>
          </ul>

          <div class="confirm-select">
            <span class="btn btn-success btn-operate-tag btn-tag-ok" translate="recipe_list_ok" ng-click="recipe.updateTag()"></span>
            <span class="btn btn-operate-tag btn-default" translate="recipe_list_cancel" ng-click="recipe.cancelTag()"></span>
          </div>
        </div>
      </div>

      <div class="modal-no-color ng-scope back-color" ng-show="recipe.isUpdateTags" ng-click="recipe.isUpdateTags = false"></div>
      <div class="clearfix" ng-show="recipe.showCookingtypePagination">
        <div class="broadcast-pagination">
          <div wm-pagination current-page="recipe.cookingtypePage" page-size="recipe.cookingtypePageSize" total-items="recipe.cookingtypeTotalCount" on-change-size="recipe.changeCookingtypeSize" on-change-page="recipe.changeCookingtypePage"></div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top:20px" ng-show="showFifthTab">
    <div class="mt-panel" style="margin-top: 0;" ng-show="product.list.data.length > 0 && !product.list.hasLoading">
      <img class="mt-panel-img" src="/images/nav/products_default.png">{{'mt_product_count' | translate : '{count: product.totalCount}'}}
    </div>

    <div class="uhkklp-push-tab tab-view-wrap mt-message-tab-view-wrap">

      <div wm-table ng-model="product.list"></div>

      <div class="clearfix">
        <div class="broadcast-pagination">
          <div wm-pagination current-page="product.page" page-size="product.pageSize" total-items="product.totalCount" on-change-size="product.changeSize" on-change-page="product.changePage"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-no-color ng-scope" ng-show="recipe.showOnShelvesModal || recipe.isShowBatchBindTagDropdown" ng-click="recipe.showOnShelvesModal = false;recipe.isShowBatchBindTagDropdown = false"></div>
</div>
