$coupon-wrapper-border-color: #eaedf0;
$coupon-white: #fff;
$coupon-black: #000;

.m-coupon {
  display: table;
  margin: .5rem auto 0;
  width: 90%;
  border-collapse: collapse;
}

.m-coupon-wrapper {
  background: $coupon-white;
  border: .04rem solid $coupon-wrapper-border-color;
  border-radius: .2rem;
  display: table-row;
  height: 3rem;
  color: $coupon-black;
  text-decoration: none;
}

.m-coupon-image-wrapper {
  width: 2.8rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: .2rem 0 .2rem .2rem;
  font-size: 0;

  .m-coupon-image {
    max-width: 2.6rem;
    max-height: 2.6rem;
    border-radius: .08rem;
  }
}

.m-coupon-title-wrapper {
  word-break: break-all;
  height: 2.6rem;
  width: calc(100% - 2.8rem);
  display: table-cell;
  vertical-align: middle;
  padding-left: .1rem;
  padding-right: .6rem;
  font-size: .5rem;
  background-image: url('/images/content/conf/webmaterial_article_viewdetails.png');
  background-repeat: no-repeat;
  background-position: 96% center;
}

.m-coupon-btn {
  color: $coupon-white;
  height: 1.38rem;
  line-height: 1.38rem;
  border-radius: .1rem;
  font-size: .5rem;
  text-align: center;
  text-decoration: none;
  margin: .19rem .5rem;
}

.m-coupon-blank {
  height: 1rem;
}
