.m-html-box {
  color:#666;
  display: block;
  font-size: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
}
.m-mediate {
  margin-left: auto;
  margin-right: auto;
}
.m-template-html {
  word-break: break-word;
}
.m-vamiddle {
  vertical-align: middle;
}
