body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:40px;
  width:1120px;
  height:770px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:770px;
}
#u1 {
  position:absolute;
  left:2px;
  top:377px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:40px;
  width:870px;
  height:770px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:770px;
}
#u3 {
  position:absolute;
  left:2px;
  top:377px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:4320px;
  top:790px;
  width:69px;
  height:15px;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:4393px;
  top:793px;
  width:13px;
  height:12px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:4320px;
  top:790px;
  width:69px;
  height:15px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:4393px;
  top:793px;
  width:13px;
  height:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:4320px;
  top:790px;
  width:69px;
  height:15px;
  font-size:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:4393px;
  top:793px;
  width:13px;
  height:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1px;
  top:118px;
  width:239px;
  height:40px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:156px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:194px;
  width:239px;
  height:40px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:7px;
  top:58px;
  width:35px;
  height:35px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:46px;
  top:75px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#1E1E1E;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:232px;
  width:239px;
  height:40px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:46px;
  top:57px;
  width:40px;
  height:16px;
  font-size:10px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u30 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:51px;
  top:58px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:88px;
  top:57px;
  width:40px;
  height:16px;
  font-size:10px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:93px;
  top:58px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:270px;
  width:239px;
  height:40px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:266px;
  width:6px;
  height:30px;
  font-size:14px;
  color:#E4E4E4;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:30px;
}
#u40 {
  position:absolute;
  left:60px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:260px;
  top:106px;
  width:719px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:702px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:4px;
  width:719px;
  height:2px;
}
#u42 {
  position:absolute;
  left:260px;
  top:82px;
  width:112px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:380px;
  top:82px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#797979;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:260px;
  top:106px;
  width:92px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:75px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:4px;
  width:92px;
  height:2px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:47px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:47px;
}
#u49 {
  position:absolute;
  left:2px;
  top:16px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:257px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:358px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:545px;
  top:14px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:450px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:663px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:17px;
  top:7px;
  width:34px;
  height:34px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u61 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:59px;
  top:14px;
  width:94px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1065px;
  top:8px;
  width:29px;
  height:29px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u65 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1070px;
  top:14px;
  width:20px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1047px;
  top:8px;
  width:10px;
  height:27px;
}
#u68_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u68_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u69 {
  position:absolute;
  left:1009px;
  top:6px;
  width:40px;
  height:34px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u70 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:696px;
  top:13px;
  width:24px;
  height:24px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u72 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:290px;
  top:13px;
  width:24px;
  height:24px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:625px;
  top:46px;
  visibility:hidden;
}
#u75_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u77 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:33px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:213px;
  top:46px;
  visibility:hidden;
}
#u80_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u80_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u82 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:169px;
  width:132px;
  height:33px;
  color:#C9C9C9;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:12px;
  top:9px;
  width:14px;
  height:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:30px;
  top:9px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:11px;
  top:33px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:0px;
  top:56px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u92 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:33px;
  top:65px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:11px;
  top:89px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:11px;
  top:65px;
  width:20px;
  height:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:112px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u100 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:33px;
  top:121px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:11px;
  top:145px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:11px;
  top:121px;
  width:20px;
  height:20px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1px;
  top:0px;
  width:189px;
  height:47px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:47px;
}
#u108 {
  position:absolute;
  left:2px;
  top:16px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1003px;
  top:46px;
  visibility:hidden;
}
#u109_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u109_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:109px;
  color:#999999;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:109px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:18px;
  top:8px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:18px;
  top:45px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:0px;
  top:30px;
  width:107px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  height:1px;
}
#u117 {
  position:absolute;
  left:19px;
  top:81px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:0px;
  top:67px;
  width:107px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  height:1px;
}
#u120 {
  position:absolute;
  left:922px;
  top:12px;
  width:76px;
  height:22px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u121 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:900px;
  top:10px;
  width:10px;
  height:27px;
}
#u122_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u122_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u122_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u123 {
  position:absolute;
  left:575px;
  top:182px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#A1A1A1;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:609px;
  top:140px;
  width:35px;
  height:35px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:613px;
  top:156px;
  width:27px;
  height:3px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:3px;
}
#u128 {
  position:absolute;
  left:2px;
  top:-6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:613px;
  top:156px;
  width:27px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:3px;
}
#u130 {
  position:absolute;
  left:2px;
  top:-6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
