@mixin member-center-panel($image) {
  margin: 0 auto 34px;
  width: 94%;

  .member-title {
    @include size(100%, 49px);
    box-sizing: border-box;
    border: 1px solid $wm-line-background-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0;
    background-color: $wm-mobile-btn-text-color;

    .member-icon {
      @include size(19px, 19px);
      display: inline-block;
      margin: 13px 8px 5px 15px;
      background: url(../../../images/mobile/#{$image}.png) no-repeat;
      background-size: 19px;
    }

    .member-word {
      font-size: $wm-buttom-componet-font-size;
      display: inline-block;
      vertical-align: top;
      margin: 15px 0;
    }
  }

  .member-body {
    box-sizing: border-box;
    width: 100%;
    background-color: $wm-mobile-background-color;
    box-shadow: inset 16px 16px 16px rgba(228, 228, 228, .75), inset -16px -16px 16px rgba(228, 228, 228, .75);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid $wm-line-background-color;
    min-height: 20;

    .member-group {
      margin: 12px 13px 17px 17px;

      .member-title-child {
        @include font-style($wm-input-componet-font-size, $wm-title-font-color);

        p {
          margin-bottom: 0;
          margin-top: 0;
          word-break: break-all;
        }
      }

      .member-content {
        @include font-style($wm-input-componet-font-size, $wm-content-font-color);
        line-height: 16px;
        margin-top: 10;
      }
    }
  }
}

@each $item, $value in $member-icon {
  .member-#{$item}-wrapper {
    @include member-center-panel($value);
  }
}
