$wm-input-componet-text-height: 20px;
$wm-componet-label-max-width: 30%;
.mb-textarea-component {
  @include size(100%, $wm-input-componet-text-height * 2 + $wm-input-componet-height);
  @include box-shadow(0px 0px 7px rgba(#c1c1c1, 0.24));
  border: 1px $wm-mobile-default-border-color solid;
  border-radius: 4px;
  &:last-child {
    margin-bottom: 0px;
  }

  .textarea-component-item {
    height: 100%;
    line-height: $wm-input-componet-height;
    color: $wm-mobile-default-color;
    font-size: $wm-input-componet-font-size;
    box-sizing: border-box;
  }

  .textarea-component-label {
    width: auto;
    max-width: $wm-componet-label-max-width;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
  }

  .textarea-component-text {
    @include size(100% - $wm-componet-label-max-width, $wm-input-componet-text-height * 3);
    line-height: $wm-input-componet-text-height;
    padding: 0px 0px 0px 32px;
    border: none;
    margin: ($wm-input-componet-height - $wm-input-componet-text-height)/2 0px;
    background-color: $wm-white-background-color;
    color: $wm-mobile-default-color;
    resize: none;
    &:disabled {
      color: $wm-mobile-default-color;
    }
    &:focus {
      outline: none;
    }
  }

}
