$wm-min-font-size:                            12;
$wm-max-font-size:                            30;
$wm-dark-gray:                                   #787878;

// Standard color schema
$black-background-color:                   #2f2f2f;
$black-background-text-color:            #cdcdcd;
$black-background-text-hover-color: #2daf96;
$black-background-text-active-color: #46d7be;
$gray-background-color:                     #e2e2e2;
$gray-background-text-color:             #19be9b;
$gray-background-text-hover-color:   #19af8c;
$gray-background-text-active-color:   #19a582;
$white-background-color:                   #fff;
$white-background-text-color:           #37c3aa;
$white-background-text-hover-color: #37b9a0;
$white-background-text-active-color: #37af96;
$border-color:                                      #d2d2d2;

$banner-height:                                    50px;
$wm-green:                                           #37c3aa;

$vertical-nav-width:                               225px;
$vertical-nav-fold-width:                       10px;
$vertical-nav-text-color:                        #6f6f6f;
$viewport-padding:                                30px;
$footer-height:                                       40px;

$base-text-color:                                    #787878;
$upload-avatar-background-color:        #555;
$panel-hearder-background-color:       #eee;
$panel-body-background-color:            #f5f5f5;
$dark-text-color:                                    #333;
$table-border-color:                              #ededed;
$card-hearder-background-color:         #ddd;
$light-background-color:                       #efefef;
$table-th-color:                                      #999;
$pic-box-border-color:                          #dcdcdc;
$tab-shadow-color:                                #aaa;
$line-color:                                             #ccc;
$error-red:                                              #b42d14;
$black-hover:                                          #1c1c1c;
$black-box-shadow-color:                      #a0a0a0;

$operate-icons:                     edit, delete, tag, send, view, more, download, statistics, qrcode, refresh, export, import, goods, privilege, submit, cancel, grantingcard, defaultcard, newqrcode, record;
