$coupon-white: #fff;
$coupon-black: #000;
$coupon-border-color: #d9d9d9;
$coupon-border-dashed-color: #959595;
$coupon-time-font-color: #bbb;
$coupon-btn-color: #f9910a;

.coupon-title,
.coupon-link {
  padding: 1rem 0;
}

.coupon-title {
  border-bottom: .1rem dashed $coupon-border-dashed-color;
}

.coupon-time {
  padding: .6rem 0;
  color: $coupon-time-font-color;
  font-size: 1.3rem;
}

.coupon-link {
  background-image: url('/images/mobile/detail.png');
  background-size: .8rem;
  background-repeat: no-repeat;
  background-position: 97% center;
  display: block;
  color: $coupon-black;
  text-decoration: none;
}

.link-line {
  border-bottom: .1rem solid $coupon-border-color;
}

.success-top {
  background-color: $coupon-white;

  .success-img-wrapper {
    position: relative;
    width: 35%;
    height: 10rem;
    display: inline-block;

    .success-img {
      max-width: 83%;
      max-height: 83%;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .success-title {
    display: inline-block;
    position: absolute;
    width: 60%;
    height: 10rem;
    font-size: 1.5rem;
    padding-top: 3rem;
  }

  .success-time {
    font-size: 1.3rem;
    color: $coupon-time-font-color;
    border-top: .1rem dashed $coupon-border-dashed-color;
    padding: .5rem 1rem;
  }
}

.success-line {
  margin-bottom: 2rem;
  background-image: url('/images/mobile/youhuiquanchilun.png');
  height: .8rem;
}

.success-qrcode {
  background-color: $coupon-white;
  margin-bottom: 2rem;
  border-top: .1rem solid $coupon-border-color;
  border-bottom: .1rem solid $coupon-border-color;
  font-size: 1.3rem;

  .qrcode-img {
    width: 60%;
    margin: 2rem auto 1rem;
    display: block;
  }

  .qrcode-code {
    color: $coupon-time-font-color;
    display: block;
    text-align: center;
  }

  .qrcode-tip {
    display: block;
    text-align: center;
    padding: .6rem;
  }
}
