body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:46px;
  width:1110px;
  height:702px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:702px;
}
#u1 {
  position:absolute;
  left:2px;
  top:343px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:46px;
  width:870px;
  height:702px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:702px;
}
#u3 {
  position:absolute;
  left:2px;
  top:343px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:258px;
  top:130px;
  width:64px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:357px;
  top:249px;
  width:82px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:357px;
  top:130px;
  width:150px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:258px;
  top:159px;
  width:64px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:258px;
  top:91px;
  width:658px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:641px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:658px;
  height:1px;
}
#u13 {
  position:absolute;
  left:258px;
  top:249px;
  width:64px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:354px;
  top:67px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:258px;
  top:67px;
  width:86px;
  height:15px;
  font-size:12px;
  color:#0033FF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:338px;
  top:69px;
  width:10px;
  height:12px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u20 {
  position:absolute;
  left:258px;
  top:311px;
  width:64px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:357px;
  top:311px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:258px;
  top:280px;
  width:64px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:357px;
  top:280px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:357px;
  top:159px;
  width:31px;
  height:16px;
  color:#C9C9C9;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:258px;
  top:188px;
  width:64px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:357px;
  top:188px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:258px;
  top:218px;
  width:64px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:357px;
  top:218px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:23px;
  top:66px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:1px;
  top:142px;
  width:239px;
  height:40px;
  font-size:14px;
  color:#434343;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:180px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:218px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:256px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:294px;
  width:239px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:104px;
  width:239px;
  height:40px;
  font-size:14px;
  color:#434343;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:214px;
  top:288px;
  width:50px;
  height:4px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:4px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:47px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:47px;
}
#u57 {
  position:absolute;
  left:2px;
  top:16px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:257px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:358px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:545px;
  top:14px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:450px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:663px;
  top:14px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:17px;
  top:7px;
  width:34px;
  height:34px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u69 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:59px;
  top:14px;
  width:94px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1065px;
  top:8px;
  width:29px;
  height:29px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1070px;
  top:14px;
  width:20px;
  height:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1047px;
  top:8px;
  width:10px;
  height:27px;
}
#u76_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u76_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u76_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u77 {
  position:absolute;
  left:1009px;
  top:6px;
  width:40px;
  height:34px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u78 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:696px;
  top:13px;
  width:24px;
  height:24px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:290px;
  top:13px;
  width:24px;
  height:24px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:625px;
  top:46px;
  visibility:hidden;
}
#u83_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u85 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:33px;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:213px;
  top:46px;
  visibility:hidden;
}
#u88_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u88_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u90 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:169px;
  width:132px;
  height:33px;
  color:#C9C9C9;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:12px;
  top:9px;
  width:14px;
  height:14px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u94 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:30px;
  top:9px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:11px;
  top:33px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:0px;
  top:56px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u100 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:33px;
  top:65px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:11px;
  top:89px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:11px;
  top:65px;
  width:20px;
  height:20px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:112px;
  width:132px;
  height:58px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u108 {
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:33px;
  top:121px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#AAAAAA;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:11px;
  top:145px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:11px;
  top:121px;
  width:20px;
  height:20px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1px;
  top:0px;
  width:189px;
  height:47px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:47px;
}
#u116 {
  position:absolute;
  left:2px;
  top:16px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1003px;
  top:46px;
  visibility:hidden;
}
#u117_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u117_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:109px;
  color:#999999;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:109px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:18px;
  top:8px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:18px;
  top:45px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:0px;
  top:30px;
  width:107px;
  height:10px;
}
#u124_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  height:1px;
}
#u125 {
  position:absolute;
  left:19px;
  top:81px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:0px;
  top:67px;
  width:107px;
  height:10px;
}
#u127_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  height:1px;
}
#u128 {
  position:absolute;
  left:922px;
  top:12px;
  width:76px;
  height:22px;
  color:#FFFFFF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u129 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:900px;
  top:10px;
  width:10px;
  height:27px;
}
#u130_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u130_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u130_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
