<div wm-breadcrumb="store.breadcrumb"></div>
<div class="store-wrapp row">
  <span class="current-store">{{'analytic_current_store' | translate}}</span>
  <div wm-store ng-model="store.store" class="store-directive col-md-10" on-Change="store.getStoreInfo"></div>
</div>


<div ng-hide="store.isStore" class="store-style">
  <div class="panel panel-default statistic-pannel store-pannel">
    <div class="panel-heading panel-title-block">
      <span>{{'analytic_index_explanation' | translate}}</span>
    </div>
    <table class="panel-body row statistics-body pd0 mlr0 store-table">
      <tbody>
        <tr>
          <td class="col-md-6 store-border store-title">{{'analytic_wechat' | translate}}</td>
          <td class="col-md-6 store-border store-title">{{'analytic_microblog' | translate}}</td>
        </tr>
        <tr>
          <td class="col-md-6 store-content">
            <div>
              <span class="col-md-6">{{'analytic_scan_number' | translate}}</span>
              <span class="col-md-6 store-right">{{store.wechat.scanNum}}</span>
            </div>
            <div>
              <span class="col-md-6">{{'analytic_attention_wechat' | translate}}</span>
              <span class="col-md-6 store-right">{{store.wechat.followerNum}}</span>
            </div>
            <div>
              <span class="col-md-6">&nbsp;</span>
              <span class="col-md-6 store-right">&nbsp;</span>
            </div>
          </td>
          <td class="col-md-6">
            <div>
              <span class="col-md-6">{{'analytic_scan_number' | translate}}</span>
              <span class="col-md-6 store-right">{{store.weibo.scanNum}}</span>
            </div>
            <div>
              <span class="col-md-6">{{'analytic_attention_microblog' | translate}}</span>
              <span class="col-md-6 store-right">{{store.weibo.followerNum}}</span>
            </div>
            <div>
              <span class="col-md-6">&nbsp;</span>
              <span class="col-md-6 store-right">&nbsp;</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="content-weibo-date clearfix row mlr0">
    <div class="col-md-6">
      <span class="store-analysic">{{'analytic_shop_analysis' | translate}}</span>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <span class="content-weibo-text plr0 text-center col-md-2 col-sm-1 col-xs-1"></span>
            <div class="col-md-10 col-sm-11 col-xs-11 plr0">
              <div wm-datetime-picker format-type="YYYY-MM-DD" picker-id="beginPicker" min-date-picker-id="endPicker" pick-date="true" pick-time="false" ng-model="store.startDate" time-handler="store.electDate()" less-than-yesterday="true" first-unbind-handler="true"></div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <span class="content-weibo-text plr0 text-center col-md-2 col-sm-1 col-xs-1">{{'analytic_to'|translate}}</span>
            <div class="col-md-10 col-sm-11 col-xs-11 plr0">
              <div wm-datetime-picker format-type="YYYY-MM-DD" picker-id="endPicker" max-date-picker-id="beginPicker" pick-date="true" pick-time="false" ng-model="store.endDate" time-handler="store.selectDate()" less-than-yesterday="true" first-unbind-handler="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-weibo-wrap mb30">
    <div class="content-weibo-body-title content-weibo-text">{{'analytic_wechat' | translate}}</div>
    <div class="content-weibo-body-content">
      <div wm-line-chart options="store.wechatLineChartOptions" width="100%" height="270px"></div>
    </div>
  </div>

  <div class="content-weibo-wrap">
    <div class="content-weibo-body-title content-weibo-text">{{'analytic_microblog' | translate}}</div>
    <div class="content-weibo-body-content">
      <div wm-line-chart options="store.weiboLineChartOptions" width="100%" height="270px"></div>
    </div>
  </div>
</div>
