$wm-mobile-default-color: #171717;
$wm-mobile-btn-text-color: #fff;
$wm-mobile-btn-bg-color: #f9910a;
$wm-mobile-btn-shadox-color: #97591d;
$wm-feedback-success-tip-font-color: #555555;
$wm-form-tip-font-color: #ff0a0a;
$wm-mobile-default-border-color: #d8d8d8;
$wm-button-bg-color: #a8a8a8;
$wm-tip-bg-color: #ebebeb;
$wm-tip-font-color: #a3a3a3;

$wm-input-componet-tip-size: 1.6em;
$wm-feedback-tip-font-size: 1.7em;
$wm-input-componet-font-size: 1.8em;
$wm-button-componet-font-size: 2.1em;
$wm-input-componet-height: 52px;
$wm-bottom-componet-height: 40px;
$wm-success-tip-font-size: 14px;
$form-fields: (phone, email, name, title, description);
