<div class="prompt-wrapper">
  <div class="prompt-icon">
    <div class="prompt-icon-bg"></div>
    <div class="error-icon-ghost"></div>
    <div class="error-icon-five"></div>
    <div class="error-icon-zero"></div>
    <div class="error-icon-zero-right"></div>
    <div class="prompt-text" translate="site_error_prompt"></div>
    <a href="javascript:history.go(-1)" class="error-icon-back"></a>
    <div class="prompt-text-back"><a href="javascript:history.go(-1)" translate="site_missing_back"></a></div>
  </div>
</div>
