<div class="invalid">
    <div class="forbidden-pannel">
        <div class="forbidden-word">
            <span class="forbidden-icon-left"></span>
            <span class="forbidden-icon-right">
                <p class="forbidden-title" translate="site_forbidden_tip"></p>
                <p class="forbidden-tip" translate="site_forbidden_help"></p>
                <a ng-click="forbidden.goBack()" class="back-btn cp" translate="site_missing_back"></a>
            </span>
        </div>
    </div>
</div>

