<div class="login-page" ng-if="!resetpassword.invalid">
  <div class="login-content">
    <div class="logo"></div>
    <form class="green-form login-form" ng-submit="resetpassword.submit()">
      <div class="form-group">
        <input type="password" class="form-control" placeholder="{{'site_input_password' | translate}}" maxlength="20" ng-model="resetpassword.password" wm-validate="resetpassword.checkPassword" required form-tip="{{'management_password_tip' | translate}}">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="{{'site_input_password_again' | translate}}" maxlength="20" ng-model="resetpassword.passwordConfirm" wm-validate="resetpassword.checkResetpassword"  required form-tip="{{'management_password_tip' | translate}}">
      </div>
      <div class="form-group">
        <button class="btn btn-success pull-left" style="min-width:100px" type="submit" translate="ok"></button>
      </div>
    </form>
  </div>
</div>
<div class="invalid" ng-if="resetpassword.invalid">
  <div class="invalid-page">
    <div class="invalid-wrapper">
      <div class="fail-link">
        <span class="glyphicon glyphicon-ban-circle glyphicon-position"></span>
        <span class="fail-word">{{resetpassword.invalid_title | translate}}</span>
      </div>
      <div class="tip-msg">
        <P>{{resetpassword.message | translate}}</P>
      </div>
    </div>
  </div>
</div>
