@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';

@mixin background-image ($url) {
  background-image: url($url);
  background-repeat: no-repeat;
}

@mixin font-style($size, $color) {
  font-size: $size;
  color: $color;
}
