$wm-mobile-white-color: #ffffff;
$wm-mobile-FAQ-category-normal-color: #6096d6;
$wm-mobile-FAQ-category-click-color: #5081ba;
$wm-mobile-FAQ-category-activatied-font-color: #95c6ff;
$wm-mobile-FAQ-categorys-click-color: #347AC6;
$wm-mobile-FAQ-question-title-font-color: #517094;
$wm-mobile-FAQ-question-answer-font-color: #555555;
$wm-mobile-FAQ-question-line-color: #dee4ed;
$wm-mobile-FAQ-mask-color: #474D57;

$wm-mobile-FAQ-category-font-size: 15px;
$wm-mobile-FAQ-categorys-font-size: 13px;
$wm-mobile-FAQ-question-title-font-size: 13px;
$wm-mobile-FAQ-question-answer-font-size: 12px;

